﻿@using MVCtest5.Models
@model List<Municipality>


<table class="table">
    <tr>
        <th>
            Municipality
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.MunicipalityStatus == 0)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MunicipalityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MunicipalityStatus)
                </td>
                <td>
                    @Html.ActionLink("Unlink", "UnlinkMunicipality", new { id = @ViewBag.regionid, municipalityId = item.MunicipalityId })
                </td>
            </tr>
        }
    }

</table>