﻿@model IEnumerable<MVCtest5.Models.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<b>@ViewBag.regionid</b>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegionId })
        </td>
    </tr>
}

</table>
