﻿@model MVCtest5.Models.Municipality

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Municipality</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MunicipalityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipalityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipalityStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MunicipalityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
